.navbar .links {
    flex-direction: row-reverse !important;
    right: 100px !important;
}

.search-box {
    right: -20px;
}

.search-box input {
    cursor: text;
    width: 0 !important;
    border: 0 !important;
}

.search-box input:focus {
    width: 10rem !important;
    border: 1px solid #3eaf7c !important;
}

//.sidebar-sub-headers {
//  display: none !important;
//}
