.navbar .links {
    flex-direction: row-reverse !important;
    right: 100px !important;
}

.search-box {
    right: -20px;
}

.search-box .suggestions {
    width: 40rem !important;
    max-height : 32rem !important;
    overflow: scroll;
    position: absolute;
    top: 2rem;
    right: .5rem;
}

.dsb-dataset-1 {
    width: 40rem !important;
    max-height : 32rem !important;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: .5rem;
}

.dsb-dataset-3 {
    display: none !important;
}

.suggestion__title{
    background-color : #3eaf7c !important;
    width: 37rem;
    line-height : 35px;
    padding-left :10px;
}

.ds-dropdown-menu {
    width: 40rem !important;
    max-height: 32rem;
    overflow: scroll;
}


.algolia-docsearch-footer {
    display : none !important;
}

.meilisearch-autocomplete .docs-searchbar-footer {
    display : none !important;
}

.search-box input {
    cursor: text;
    width: 0 !important;
    border: 0 !important;
}

.search-box input:focus {
    width: 10rem !important;
    border: 1px solid #3eaf7c !important;
    border-radius: 20px; /* 设置圆角半径，可以根据需要调整 */
}

::v-deep .vsys{
    display:none !important;
}

#valine-vuepress-comment{
    width: 90%;
    margin: 0 auto;
}

#veditor {
    background-image: url(https://cdn.jsdelivr.net/gh/drew233/cdn/20200409110727.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba(255, 255, 255, 0);
    resize: vertical;
}

#veditor:focus{
    background-position-y: 200px;
    transition: all 0.2s ease-in-out 0s;
}


.vheader{
    display: flex;
    flex-grow: 1;
}


#valine-vuepress-comment .vheader .vnick {
    border: 2px solid #dedede;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #66b1ff !important;
    font-size : 17px;
}

#valine-vuepress-comment .vheader .vmail {
    border: 2px solid #dedede;
    margin-left: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size : 17px;
    color: #66b1ff !important;
}

#valine-vuepress-comment .vheader .vlink {
    border: 2px solid #dedede;
    margin-left: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size : 15px;
    color: #66b1ff !important;
}

#valine-vuepress-comment .vcards .vcard {
    padding: 15px 20px 0 20px;
    margin-bottom: 15px;
    transition: all .3s;
    color: #2F0822;
}

#valine-vuepress-comment .vcards .vcard:hover {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .12)
}

#valine-vuepress-comment .vcards .vcard .vh .vcard {
    border: none;
    box-shadow: none;
}

img.vimg {
    transition: all 1s   /* 旋转时间为 1s */
}

img.vimg:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.vpower{
    display : none !important;
}

div[class*="language-"]::before {
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 1.2rem;
    line-height: 0.3rem;
    color: rgba(150,150,150,0.7);
}

div[class*="language-"].line-numbers-mode .line-numbers-wrapper {
    position: absolute;
    top: -18px;
    width: 2.5rem;
    text-align: center;
    color: rgba(127,127,127,0.5);
    padding: 1.25rem 0;
    line-height: 1.4;
}

body .theme-vdoing-content pre code, body .theme-vdoing-content pre[class*="language-"] code {
    color: var(--codeColor);
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    line-height: 1.4;
}


.footer {
    width: $contentWidth;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
    text-align: center;
    color: #666;
    background-color: var(--mainBg);
    box-sizing: border-box;
    font-size: 0.85rem;
    transition: all 0.2s ease;
    margin-bottom: 0.5rem;
    position: relative;  /* 设置为相对定位，以便根据不同的布局调整位置 */
    left: 0;
    right: 0;
}

.footer > span {
    line-height: 1.5rem;
}

.footer .icons {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
}

.footer .iconfont {
    padding: 0 10px;
    font-size: 1.3rem;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    color: $accentColor;
}

/* 媒体查询调整移动端样式 */
@media (max-width: 500px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 1rem;
        align-items: center;
        width: 100%;  /* 移动端宽度占满全屏 */
    }
    
    .footer .icons {
        margin-bottom: 10px;
    }

    .footer span {
        font-size: 0.8rem;
    }
}

/* 媒体查询调整PC端样式 */
@media (min-width: 720px) {
    /* 如果侧边栏打开，footer的left值需要根据sidebarWidth动态调整 */
    .sidebar-open:not(.have-rightmenu) .footer {
        width: ($contentWidth + 5rem) !important;
        padding: 3rem !important;
        left: ($sidebarWidth + 8.5rem) !important; /* 动态设置left值，确保footer对齐内容区域 */
    }

    /* 如果右侧菜单打开，footer的left值需要根据rightMenuWidth调整 */
    .have-rightmenu:not(.sidebar-open) .footer {
        width: ($contentWidth + 5rem) !important;
        left: ($sidebarWidth - 8rem) !important; /* 保证footer不被右侧菜单遮挡 */
    }

    /* 如果侧边栏和右侧菜单都打开，footer的left值需要根据sidebarWidth和rightMenuWidth同时调整 */
    .sidebar-open.have-rightmenu .footer {
        width: ($contentWidth + 5rem) !important;
        left: ($sidebarWidth + 1rem) !important; /* 保证footer的左边位置始终与内容区域对齐 */
    }

    /* 没有侧边栏时，footer宽度为contentWidth，左对齐 */
    .no-sidebar .footer {
        width: $contentWidth !important;
        left: $sidebarWidth !important; /* 没有侧边栏时，footer应该从0开始 */
    }
    
    /* 没有侧边栏且侧边栏被打开时，footer的宽度为contentWidth，左对齐 */
    .no-sidebar.sidebar-open .footer {
        width: $contentWidth !important;
        left: $sidebarWidth !important;
    }
}

/* 媒体查询调整大屏样式 */
@media (min-width: 1520px) {
    .footer {
        width: auto;
        padding-right: ($rightMenuWidth + 1.5rem);
        justify-content: flex-start;
    }
}



 .page-nav-centre-wrap .page-nav-centre:before {
    width: 30px !important;
    height: 30px !important;
    border-top: 2px solid #409eff !important;
    border-right: 2px solid #409eff !important;
}

.page-nav-centre-wrap .page-nav-centre-prev {
    left: 2rem !important;
}

.sidebar-open.have-rightmenu .page-nav-centre-wrap .page-nav-centre {
    right: 16rem !important;
}

.page-nav-centre-wrap .page-nav-centre {
    width: 35px !important;
    z-index: 10 !important;
}

.sidebar-open .page-nav-centre-wrap .page-nav-centre-prev {
    left: 19rem !important;
}

.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
    color: #215d42;
    display: block;
}