.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
  color: #7ec699 !important;
  font-weight: bolder;
}

code, kbd, .line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  color: deepskyblue;
}

//.page .theme-default-content:not(.custom) {
//  max-width: 1000px;
//  margin: 0 auto;
//  padding: 2rem 2.5rem;
//}

//.page-nav{
//  max-width: 1000px;
//  margin: 0 auto;
//  padding: 1rem 2.5rem;
//}
//
//.page-edit{
//  max-width: 1000px;
//}
